@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/MomentumFontIcon.woff2?83f25ad9ceab11ce2b7a98e2e480b82e") format("woff2"),
      url("#{$icon-font-path}/MomentumFontIcon.woff?21658db8cbc56ce707cd0feb4f03ec2c") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
